{% extends '_base.html' %}

{% load static %}

{% block content %}


<header class="contact-us-banner">
    <div class="container pt-0 pt-md-5">
        <div class="row mt-0 mt-md-5 pt-5">
            <div class="col-12 col-md-12 text-center">
                <h1 class="text-uppercase">About Us
                </h1>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="py-5">
        <div class="container shadow rounded-0 py-4">
            <div class="row mb-5">
                <div class="col-12 col-md-6">
                    <img src="{% static 'images/about.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <h3>DREAMERS MOVING INC COMPANY FROM DALLAS</h3>
                    <p>Dreamers Moving Inc family-owned business proudly serving the Dallas/Fort Worth and Miami areas. Offering quality service at competitive rates, and a variety of services to fit your individual needs. Transparent pricing, excellent work, and positive client relationships are our top priority.</p>
                    <p>Moving is almost always stressful, let us handle the heavy lifting so that you can focus on what matters to you. Moving companies have a pretty bad reputation, but we’re setting out to change just that- one move at a time.</p>
                    <!-- <button class="btn btn-secondary rounded-pill px-5 py-3">Know more</button> -->
                </div>
            </div>

        </div>
        <div class="container shadow rounded-0 py-4 mt-4">
            <div class="row">
                <div class="col-12 text-center mb-4">
                    <h2 class="text-uppercase">Our Philosophy</h2>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <img src="{% static 'images/people.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <div class="text-center">
                        <h3 class="text-uppercase">OUR CUSTOMERS ARE VERY IMPORTANT TO US</h3>
                    </div>
                    <p>We’ll handle everything – from packing and loading to storing, transporting, unloading and even placement of large items. Or, if you prefer, our moving service team can deliver boxes and packing materials for you to do-it-yourself. Just let us know and our movers will be there with service that’s completely customized to your needs.</p>
                    <p>When you hire us, we will show up on time at the agreed upon moving day. We respect your time and we will never keep you waiting. We have the best equipment to make your move a success.</p>

                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="{% static 'images/boxes.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <h3 class="text-uppercase">Our employees matter. We brag that we have the best movers.</h3>
                    <p>We have a team of professionals with extensive expereience in the business to help you with your needs whatever it may be. Our reputation for professionalism and provide unparalleled services by meeting the unique needs of each customer. Regardless of what kind of move you need.</p>
                    <p>Moving locally or out of state? Moving to a new home or relocating your business? Our professionals are here to help! Learn more about the many services we offer by exploring our site.</p>

                </div>
            </div>

        </div>
        <div class="container shadow rounded-0 py-4 mt-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="{% static 'images/vehicalman.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-12 col-md-6 mt-3 mt-md-0">
                    <div class="text-center">
                        <h3 class="text-uppercase">WHAT WE CAN DO FOR YOU</h3>
                    </div>
                    <h4 class="font-weight-bold">WProfessional Packaging</h4>
                    <p>We understanding moving can be hard and we can help you with packaging using our team of professionals to make sure every item arrive undamaged</p>
                    <h4 class="font-weight-bold">Storage Services</h4>
                    <p>We offer storage services at affordable rates in case you are not ready to move yet. Our prices are very competitive and our facility is well mantained and safe</p>
                    <h4 class="font-weight-bold">Affordable Rates</h4>
                    <p>Our prices are unbeatable and we offer special offers all the time</p>
                    <h4 class="font-weight-bold">Flexibility</h4>
                    <p>We will work with your schedule and make sure your items arrive in timely fashion</p>
                    <h4 class="font-weight-bold">Exceptional Customer Service</h4>
                    <p>We care about our customers and your satisfaction is our first priority</p>

                </div>
            </div>
        </div>
    </section>

</main>

{% endblock content %}