

.review-btn {
    background-color: #f43939;
    border: 1px solid #f43939;
    color: white !important;
    font-weight: bold;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 5px;
    font-size: large;
}


/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.rating-stars ul>li.star {
  display: inline-block;
}

/* Idle State of the stars */
.rating-stars ul>li.star>i.fa {
  font-size: 2.5em;
  /* Change the size of the stars */
  color: #ccc;
  /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul>li.star.hover>i.fa {
  color: #FFCC36;
}

/* Selected state of the stars */
.rating-stars ul>li.star.selected>i.fa {
  color: #FF912C;
}


// ==============================
// Modal for message framework
// ==============================

/* The Modal (background) */
.msg-popup {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  // width: 100%;
}

.msg-content {
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  // float: right;
  margin-left: auto;
  margin-right: 0;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}